*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #43C0E0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 50px;
    color: #943A54;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
}
#maze-container{
    border: 7px solid black;
    border-radius: 7px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: max-content;
}
.row{
    display: flex;
}
.cell{
    width: 50px;
    height: 50px;
    /* border: 1px solid rgb(111, 105, 105); */
    background-color: white;
}
.wall{
    background-color: black;
    /* border: 1px solid black; */
}
#resetbutton{
    height: 20px;
    width: 60px;
    background-color: blanchedalmond;
    border-radius: 15px;
    margin-top: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    
}
#rat{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}
#cheese{
    position: absolute;
    bottom: 0px;
    right: 0px;
}
select{
    width: 150px;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 15px;
    border: 1px solid black;
    padding: 10px 10px;
    text-align: center;
}
